<!--back button-->
<form>
    <input type="button" value="Try Another Wine!" onclick="history.back()">
</form>
<br>

<h2>{{wine_description}} It goes especially well with:</h2>
    <ul>
        {{#each ingredient}}
            <li> {{this}} </li>
        {{/each}}
    </ul>
<br>

<h2>Here are some recipes you could make with it, click on the one you are interested in:</h2>
    <ul>
        {{#each recipes}}
        <li>
            <form action="/redirect" method="GET">
                <input type = "hidden" name = "recipeID" value = {{this.recipe_id}}>
                <button class="btn-1">{{this.recipe_title}}</button>
            </form>
        </li>
        {{/each}}
    </ul>
<br>

<h2>Here is the map for {{location}}</h2>
    {{#if map_image}}
        <img src="{{{map_image}}}" alt="image not load"/>
    {{/if}}


